/enrichment_calculations/GO_enrichment/GO_enrichment_results/compounds/all_compounds_go.rds
/enrichment_calculations/KEGG_enrichment/KEGG_enrichment_results/compounds/nes_compounds_all.rds
/enrichment_calculations/KEGG_enrichment/KEGG_enrichment_results/compounds/padj_compounds_all.rds
/enrichment_calculations/TF_enrichment/TF_enrichment_results/compounds/all_tf_enrichment.rds
/preprocessing/preprocessing_data/GSE92742_Broad_LINCS_sig_info.txt
/preprocessing/preprocessing_data/GSE92742_Broad_LINCS_sig_metrics.txt